<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Resources</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <link rel="icon" type="image/png" href="/images/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

    <style>
        body {
            background-color: #FFF9F9;
            font-family: 'Gabarito', sans-serif;
        }
    </style>
</head>

<body>

<div class="container-fluid px-4 py-3">

    <div th:replace="navigation/index :: topbar"></div>

    <div class="row align-items-stretch">

        <!-- SIDEBAR -->
        <div class="col-auto">
            <div th:replace="sidebar/index :: sidebar"></div>
        </div>

        <!-- MAIN CONTENT -->
        <div class="col ms-4">

            <div class="d-flex justify-content-between align-items-center mb-4 page-header page-title">
                <h2 th:text="${course.courseName}" class="fw-bold mb-4"></h2>
                <button onclick="location.href='/notes-editor'"
                        style="background:transparent;border:none;">
                    <i class="bi bi-plus fs-1"></i>
                </button>
            </div>

            <!-- RESOURCE GRID -->
            <div class="d-flex flex-wrap gap-4">

                <!-- duplicate cards -->
                <div th:each="file : ${files}">
                    <a th:href="${file.webViewLink}" target="_blank"
                       class="test-attempts">

                        <div class="test-card">
                            <div class="test-card-icon">
                                <div>
                                    <i class="bi bi-file-earmark fs-2"></i>
                                    <div class="fw-semibold">FILE</div>
                                </div>
                            </div>

                            <div class="test-card-content">
                                <div class="test-meta">
                                    <span th:text="${file.name}"></span>
                                </div>
                            </div>
                        </div>

                    </a>
                </div>

            </div>
        </div>
    </div>

    <div th:replace="footer/index :: footer"></div>

</div>

<script th:src="@{/js/script.js}"></script>

</body>
</html>
